<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechFlow Task Manager</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
    <h1>🚀 TechFlow Task Manager</h1>
    <p>Sistema de Gerenciamento de Tarefas</p>
</header>

<main>

    <section>

        <h2>Bem-vindo!</h2>

        <p>
            Este projeto está sendo desenvolvido para a disciplina de
            Engenharia de Software da UniFECAF.
        </p>

        <button>Nova Tarefa</button>

    </section>

</main>

<footer>

    <p>
        © 2026 - Adriano Mantoan | Engenharia da Computação - UniFECAF
    </p>

</footer>

</body>

</html>
